ion-content{
    --ion-background-color: var(--ion-color-dark);
    }

    .bg-img {
    
        width: 100%;
        //background-image: linear-gradient(rgba(0, 0, 0, 0.7), #222428);
        //url("../../assets/img/row.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        }
        .img-header {
        display: flex;
        justify-content: center;
        }
        .img-header img{
        margin-top: 20%;    
       
        width: 100%;
        margin-bottom: 100px;
        }
        